@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------------------*\
  #RESET STYLE
\*-----------------------------------*/

*,
*::before,
*::after {
	@apply m-0 p-0 box-border;
}

li {
	@apply list-none;
}

a,
img,
span,
input,
button {
	@apply block;
}

a {
	@apply text-inherit no-underline;
}

img {
	@apply h-auto;
}

input,
button {
	@apply text-inherit;
	background: none;
	border: none;
	font: inherit;
}

input {
	@apply w-full;
}

button {
	@apply cursor-pointer;
}

sub {
	@apply align-baseline bottom-0;
}

sup {
	@apply align-top top-0;
}

sup,
sub {
	@apply text-sm;
}

html {
	@apply font-sans text-sm scroll-smooth;
}

body {
	@apply bg-background text-onBackground text-sm overflow-hidden;
}

:focus-visible {
	@apply outline outline-white outline-2 outline-offset-2;
}

::selection {
	@apply bg-whiteAlpha8;
}

::webkit-scrollbar {
	@apply w-2 h-2;
}

::webkit-scrollbar-thumb {
	@apply bg-whiteAlpha8 rounded-radiusPill;
}

.m-icon {
	@apply font-materialSymbol font-normal tracking-normal normal-case whitespace-nowrap overflow-hidden;
	font-size: 2.5rem;
	line-height: 1;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	height: 1em;
	width: 1em;
}

article.container {
	position: relative;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: 20px;
	height: 100%;
}

article::-webkit-scrollbar-thumb {
	background-color: transparent;
}

article:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
	@apply bg-whiteAlpha8;
}

article::-webkit-scrollbar-button {
	height: 10px;
}

.loading::before {
	content: '';
	width: 48px;
	height: 48px;
	animation: loading 500ms linear infinite;
	@apply border-4 border-t-transparent	border-onBackground rounded-full;
}

@keyframes loading {
	0% {
		transform: translateY(-50%) rotate(0);
	}
	100% {
		transform: translateY(-50%) rotate(1turn);
	}
}

@media (min-width: 768px) {
	article.container {
		grid-template-columns: 300px minmax(0, 1fr);
	}

	#highlight .m-icon {
		font-size: 3.5rem;
	}
}
